.Lenguaje {

    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px;
    background-color: rgb(111, 240, 132);
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(211, 245, 62);
}